@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: rgb(245, 237, 215);
            color:#797367;
            font-family: 'Noto Sans JP', sans-serif;
            
        }


/* 外枠ボーダー */
#border {
            position: absolute;
            z-index: 1;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            pointer-events: none;
        }

#border::before {
            content: " ";
            display: block;
            height: 100%;
            min-height: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 4px solid #797367;
            z-index: 1;
        }


/* 横のヘッダー      */
header {
    float: left;
    padding-top: 48px;
    padding-left: 48px;
    width: 180px;
    z-index: 3;
}



/* .subtitle {
    display: flex;
    justify-content: center;
} */

h1 {
    writing-mode: vertical-rl;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 45px;
    letter-spacing: 7px;
}

header li{
    margin-bottom: 30px;   
    font-size: 26px;
}

header a {
    text-decoration: none;
    color: #797367;
    position: relative;
    display: inline-block;
}

header a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background:#797367;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
header a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}


/* 真ん中タイトル */
.top {
    display: flex;
    justify-content: center; 
    /* align-items: center; */
    padding-right: 150px;
    
}

.title {
    text-align: center;
    margin-right: 5px;
}

.title h2 {
    font-size: 45px;
    
    margin-bottom: 0px;
}

.title p {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 60px;
}

/* メモ欄 */
main {
    margin-top: 20px;
    padding-right: 220px;
    display: flex;
    justify-content: space-around;
    
}

#text {
    font-size: 20px;
    color:#797367;
    font-family: 'Noto Sans JP', sans-serif;
    width: 250px;
    height: 22px;
    border:2px solid #797367;
}

textarea {
    resize: none;
    font-size: 20px;
    color:#797367;
    font-family: 'Noto Sans JP', sans-serif;
    width: 250px;
    height: 250px;
    margin-top: 3px;
    border:2px solid #797367;
}

.memo {
    display: flex;
    flex-direction: column;
    width: 250px;
}